section.wheels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 10%;
    width: 100%;                      
        
    @media screen and (max-width: 991px) {
        padding: 2% 0%;
        overflow: hidden;

    }

    .cont {
        width: 100%;
    }
    
    .title {
        display: flex;  
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 2% 0 0 0%;

        h1{
            font-size: 58px;
            font-weight: 300;
            letter-spacing: 4px;
            margin: 0;
        }   
        
        @media screen and (max-width: 991px) {
            align-items: flex-start;
            padding-left: 5%;

            h1 {
                font-size: 18px;
                margin: 0 2% 0 0;
                letter-spacing: 1px;
                font-weight: 400;
            }   
        }  
    }

    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10%;                      
        
        @media screen and (max-width: 991px) {
            overflow-x: scroll;
            display: block;
            width: 100%;
            height: 400px;

            &::-webkit-scrollbar{
                background: rgba(128, 128, 128, 0);
            }

            &::-webkit-scrollbar-thumb:horizontal{
                background: rgba(128, 128, 128, 0);
            }
    
        }
         
        ul {
            padding: 0;
            margin-top: 0;
            display: flex;
            justify-content: space-evenly;                    
        
            @media screen and (max-width: 991px) {
                width: 150%;
                margin: 20% 0 0 10%;
        
            }

            .inverter {
                padding: 0;
                margin-top: 0;
                display: flex;
                justify-content: space-around; 
                width: 66%;                      
            
                @media screen and (max-width: 991px) {
                    flex-direction: row-reverse;
                }            

                button {                
                    background: transparent;
                    border: none;
                    margin: 0;
                    width: 25%;
    
                    
    
                    p.name {
                        font-size: 22px;
                        color: transparent;
                        margin: 15% 0 0;                       
            
                        @media screen and (max-width: 991px) {
                            font-size: 14px;
                    
                        }
                    }
    
                    p.price {
                        font-size: 22px;
                        color: transparent;
                        margin-top: 2%;                      
            
                        @media screen and (max-width: 991px) {
                            font-size: 14px;
                    
                        }
                    }
    
                    &:hover {
                        cursor: pointer;
                    }                
                
                    img {
                       width: 100%;
                       margin-top: 2%;
                       opacity: 0.2;
                       transition: all ease-in 0.2s;                       
            
                       @media screen and (max-width: 991px) {
                           width: 90%;
                           padding: 10% 0;
                   
                       }
                    }                        
            
                    @media screen and (max-width: 991px) {
                        width: 40%;
                        margin-top: 10%;
                        margin-right: 7%;
                
                    }
    
                    &.select {
    
                    p.name {
                        color: black;
                    }
    
                    p.price {
                        color: #AB1725;
                    }
                        
                    img {
                        opacity: 1;
                        transform: scale(1.2);
                    }
    
                    }
    
                    &:hover {
                        
                        img {
                            opacity: 1;
                        }
    
                    }
    
                } 
            }

            .noninver {
                padding: 0;
                margin-top: 0;
                display: flex;
                justify-content: space-around; 
                width: 33%;

                button {                
                    background: transparent;
                    border: none;
                    margin: 0;
                    width: 65%;
    
                    
    
                    p.name {
                        font-size: 22px;
                        color: transparent;
                        margin: 15% 0 0;                       
            
                        @media screen and (max-width: 991px) {
                            font-size: 14px;
                    
                        }
                    }
    
                    p.price {
                        font-size: 22px;
                        color: transparent;
                        margin-top: 2%;                      
            
                        @media screen and (max-width: 991px) {
                            font-size: 14px;
                    
                        }
                    }
    
                    &:hover {
                        cursor: pointer;
                    }                
                
                    img {
                       width: 73%;
                       margin-top: 2%;
                       opacity: 0.2;
                       transition: all ease-in 0.2s;                       
            
                       @media screen and (max-width: 991px) {
                           width: 72%;
                           padding: 10% 0;
                           margin-top: 15%;
                   
                       }
                    }                        
            
                    @media screen and (max-width: 991px) {
                        width: 100%;
                        margin-top: 10%;
                        margin-right: 7%;
                
                    }
    
                    &.select {
    
                    p.name {
                        color: black;
                    }
    
                    p.price {
                        color: #AB1725;
                    }
                        
                    img {
                        opacity: 1;
                        transform: scale(1.2);
                    }
    
                    }
    
                    &:hover {
                        
                    img {
                        opacity: 1;
                    }
    
                    }
    
                }

            }           

        }

    }    

}