section.wheels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 10%;
  width: 100%;
}

@media screen and (max-width: 991px) {
  section.wheels {
    padding: 2% 0%;
    overflow: hidden;
  }
}

section.wheels .cont {
  width: 100%;
}

section.wheels .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0 0 0%;
}

section.wheels .title h1 {
  font-size: 58px;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 0;
}

@media screen and (max-width: 991px) {
  section.wheels .title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 5%;
  }
  section.wheels .title h1 {
    font-size: 18px;
    margin: 0 2% 0 0;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

section.wheels .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
}

@media screen and (max-width: 991px) {
  section.wheels .menu {
    overflow-x: scroll;
    display: block;
    width: 100%;
    height: 400px;
  }
  section.wheels .menu::-webkit-scrollbar {
    background: rgba(128, 128, 128, 0);
  }
  section.wheels .menu::-webkit-scrollbar-thumb:horizontal {
    background: rgba(128, 128, 128, 0);
  }
}

section.wheels .menu ul {
  padding: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul {
    width: 150%;
    margin: 20% 0 0 10%;
  }
}

section.wheels .menu ul .inverter {
  padding: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 66%;
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul .inverter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

section.wheels .menu ul .inverter button {
  background: transparent;
  border: none;
  margin: 0;
  width: 25%;
}

section.wheels .menu ul .inverter button p.name {
  font-size: 22px;
  color: transparent;
  margin: 15% 0 0;
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul .inverter button p.name {
    font-size: 14px;
  }
}

section.wheels .menu ul .inverter button p.price {
  font-size: 22px;
  color: transparent;
  margin-top: 2%;
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul .inverter button p.price {
    font-size: 14px;
  }
}

section.wheels .menu ul .inverter button:hover {
  cursor: pointer;
}

section.wheels .menu ul .inverter button img {
  width: 100%;
  margin-top: 2%;
  opacity: 0.2;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul .inverter button img {
    width: 90%;
    padding: 10% 0;
  }
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul .inverter button {
    width: 40%;
    margin-top: 10%;
    margin-right: 7%;
  }
}

section.wheels .menu ul .inverter button.select p.name {
  color: black;
}

section.wheels .menu ul .inverter button.select p.price {
  color: #AB1725;
}

section.wheels .menu ul .inverter button.select img {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section.wheels .menu ul .inverter button:hover img {
  opacity: 1;
}

section.wheels .menu ul .noninver {
  padding: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 33%;
}

section.wheels .menu ul .noninver button {
  background: transparent;
  border: none;
  margin: 0;
  width: 65%;
}

section.wheels .menu ul .noninver button p.name {
  font-size: 22px;
  color: transparent;
  margin: 15% 0 0;
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul .noninver button p.name {
    font-size: 14px;
  }
}

section.wheels .menu ul .noninver button p.price {
  font-size: 22px;
  color: transparent;
  margin-top: 2%;
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul .noninver button p.price {
    font-size: 14px;
  }
}

section.wheels .menu ul .noninver button:hover {
  cursor: pointer;
}

section.wheels .menu ul .noninver button img {
  width: 73%;
  margin-top: 2%;
  opacity: 0.2;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul .noninver button img {
    width: 72%;
    padding: 10% 0;
    margin-top: 15%;
  }
}

@media screen and (max-width: 991px) {
  section.wheels .menu ul .noninver button {
    width: 100%;
    margin-top: 10%;
    margin-right: 7%;
  }
}

section.wheels .menu ul .noninver button.select p.name {
  color: black;
}

section.wheels .menu ul .noninver button.select p.price {
  color: #AB1725;
}

section.wheels .menu ul .noninver button.select img {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section.wheels .menu ul .noninver button:hover img {
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */