header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 0 10%;

    .logo {
        margin: 0px 0px 5px 0px;
        width: 50%;
        
        img {
            width: 30%;
        }
    }
    

    .links {
        width: 50%;

        ul{
            display: flex;
            justify-content: space-between;
            width: 100%;

            a {
                text-decoration: none;
                color: #A8A8A8;
                padding: 4px 2px;
                font-size: 20px;
                transition: all ease-out 0.2s;

                &.active {
                    color: black;
                    border-bottom: solid 3px #AB1725;
                }
                
                &:hover {
                    color: black !important; 
                    border-bottom: solid 3px #AB1725 !important;
                }
            }

            li {
            
                list-style-type: none;

            }
        }
    }  
}