footer.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  width: 100%;
  padding: 0.5% 10%;
  box-shadow: 0px -8px 20px 0px #cecece;
  bottom: 0;
  position: fixed;

  @media screen and (max-width: 991px) {
    padding: 2% 2%;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;

    .price {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      p {
        margin: 0;
        font-size: 20px;
        letter-spacing: 2px;
        color: #a8a8a8;
        font-weight: 500;

        @media screen and (max-width: 991px) {
          font-size: 12px;
        }
      }

      .priceValue {
        color: #ab1725;
        font-size: 40px;
        margin: 0;
        font-weight: 200;
        line-height: 40px;
        letter-spacing: 2px;

        @media screen and (max-width: 991px) {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    .model {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 2px;
      color: black;

      p {
        margin: 0;
      }

      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  .selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    width: 60%;
    color: black;

    p {
      margin: 0;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }

    div {
      justify-content: center;
      display: flex;
      width: 30%;

      p {
        font-size: 20px;
        font-weight: 500;
      }

      span.colored {
        color: #ab1725;
        padding-left: 20%;
      }

      &.color img {
        width: 15%;
      }

      &.wheels img {
        width: 25%;
      }
    }

    img {
      width: 10%;
    }
  }

  button {
    background: none;
    border: none;
    font-size: 28px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;

    @media screen and (max-width: 991px) {
      font-size: 20px;
    }

    &:hover {
      cursor: pointer;
    }

    img {
      width: 16%;
      margin-left: 20px;

      @media screen and (max-width: 991px) {
        width: 14%;
        margin-left: 10%;
      }
    }
  }
}
